@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat.ttf') format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url('fonts/Montserrat-Thin.ttf') format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* Header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 47px 0 43px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  color: #FFFFFF;
}

.map {
  padding-left: 0;
}

.header__right {
  display: flex;
  align-items: center;
}

.addres::before {
  position: absolute;
  top: 0px;
  left: 0;
  content: url(img/Map.png);
  display: block;
  width: 17px;
  height: 17px;
}

.addres {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffffbd;
  width: 122px;
  padding-left: 24px;
  position: relative;
}

.call::before {
  position: absolute;
  top: 6px;
  right: 195px;
  content: url(img/Vector.png);
  display: block;
  width: 17px;
  height: 17px;
}

.call {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-size: 12px;
  color: #ffffffbd;
  width: 180px;
  margin-left: 95px;
  position: relative;
}

.call a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 152%;
  align-items: center;
  color: #FFFFFF;
}

.first-screen__container {
  padding-top: 307px;
}

a {
  text-decoration: none;
  color: black;
}

/* Section One */
.first-screen {
  min-height: 1300px;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.first-screen__but {
  border: none;
  padding: 10px 18px;
  background: #F2F6FA;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #2E363E;
  cursor: pointer;
}

.first-screen h1 {
  max-width: 647px;
  margin-top: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.first-screen p {
  max-width: 544px;
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 143%;
  color: #FFFFFF;
}

.first-screen__button {
  padding: 30px 50px;
  background: #FED84C;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2E363E;
  transition: .4s background-color, .4s color;
  /* transition: .4 all; */
}

.first-screen__button:hover {
  background-color: #b6951b;
  color: #F2F6FA;
}

/* Section Two */
.second-screen {
  background-color: white;
}

.title-two {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1px;
  color: #2E363E;
  margin-bottom: 80px;
}

.item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  color: #2E363E;
}

.item-text {
  width: 240px;
  height: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #2e363ea9;
}

.price {
  width: 108px;
  height: 36px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #434b53e8;
}

.second-screen-button {
  font-family: 'Montserrat';
  padding: 20px 40px;
  background-color: #FED84C;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: .4s background-color;
}

.second-screen-button:hover {
  background-color: #b6951b;
  color: #F2F6FA;
}

.item-bottom {
  padding: 44px 50px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.item {
  width: calc(33.33% - 20px);
  border: 1px solid #F2F6FA;
  border-radius: 10px;
  overflow: hidden;
}

.item img {
  width: 100%;
}

/* Section Three */
.third-screen {
  min-height: 900px;
  background-image: url("img/bg-three.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 439px;
}

.third-item {
  max-width: 480px;
  margin-left: auto;
}

.third-but {
  border: none;
  padding: 10px 18px;
  background: #F2F6FA;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #2E363E;
  cursor: pointer;
  margin-bottom: 24px;
}

.title-three {
  margin-top: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #FFFFFF;
  width: 481px;
  height: 180px;
  margin-bottom: 24px;
}

.text-three {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 143%;
  letter-spacing: -0.2px;
  color: #ffffffbe;
  width: 481px;
  height: 61px;
  margin-bottom: 40px;
}

.third-button {
  padding: 30px 50px;
  background: #FED84C;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #2E363E;
}

.third-button:hover {
  background-color: #b6951b;
  color: #F2F6FA;
}

/* Section Four */
.four {
  display: flex;
  align-items: center;
}

.fourth-screen {
  background-color: #fff;
}

.right-side img {
  width: 100%;
}

.but-min {
  border: none;
  padding: 10px 18px;
  background: #F2F6FA;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #2E363E;
  cursor: pointer;
  margin-bottom: 24px;
}

.left-side h1 {
  margin-top: 0;
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #2E363E;
  width: 580px;
  height: 180px;
}

.left-side ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 50px;
}

.left-side li {
  position: relative;
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #2e363ebd;
  margin-bottom: 30px;
  width: 440px;
  padding-left: 24px;
}

.left-side li:last-child {
  margin-bottom: 0;
}

.left-side li::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #5D6AFB;
}

.but-max {
  padding: 30px 50px;
  background: #FED84C;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2E363E;
}

.but-max:hover {
  background-color: #b6951b;
  color: #F2F6FA;
}

/* Section Five */
.fiveth-screen {
  min-height: 1500px;
  background-image: url("img/bg-five.jpg");
  padding-top: 235px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.fiveth-screen h2 {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.link-five {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4A94FF;
  text-decoration: underline dashed;
}

.info {
  height: 615px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 140px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 50px;
}

.right-side-info h3 {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 143%;
  color: #2E363E;
  width: 460px;
  height: 86px;
}

.right-side-info p {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #2e363eb4;
  width: 430px;
  height: 179px;
}

.left-side-info img {
  width: 100%;
}

.arrows {
  display: block;
  margin: 0 auto;
}

/* Section Six */
.sixth-screen {
  background-color: #fff;
}

.sixth-screen h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1px;
  color: #2E363E;
  margin-bottom: 14px;
}

.sixth-screen p {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 143%;
  text-align: center;
  color: #2E363E;
  margin-bottom: 80px;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.galery img {
  width: calc(33.33% - 10px);
  box-sizing: border-box;
}

/* Footer */
.footer {
  min-height: 700px;
  background-image: url(img/footer-bg.jpg);
  background-color: #081130;
  padding-top: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-top {
  min-height: 394px;
  background-color: #fff;
  padding-top: 70px;
  margin-bottom: 40px;
}

.footer-top h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 12px;
  text-align: center;
  color: #2E363E;
}

.footer-top p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 36px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #2E363E;
}

.checkbox {
  margin-top: 25px;
  margin-left: 295px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  color: #7E868E;
}

.checkbox-description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 130%;
  color: #7E868E;
}

.footer-form {
  display: flex;
}

.form-form {
  display: flex;
  margin: 0 auto;
}

.phone {
  width: 380px;
  height: 85px;
  background: #F2F6FA;
  border: none;
  border-radius: 8px;
}

.phone label {
  margin-right: 7px;
}

.phone input {
  background: #F2F6FA;
  border: none;
  height: 24px;
  font-size: 20px;
}

.table {
  margin: 30px 26px;
}

.footer-bottom {
  margin-top: 80px;
  margin-left: 285px;
}

.footer-bottom span {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin-right: 43px;
  color: #7E868E;
}

.bot {
  margin-left: 63px;
  margin-top: 22px;
}

.footer-button {
  margin-left: 20px;
  padding: 29px 124px;
  width: 390px;
  height: 100px;
  background: #FED84C;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #2E363E;
}

.footer-right-side button:hover {
  background-color: #b6951b;
  color: #F2F6FA;
}

.footer-right-side button span {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2e363ee7;
}

.link-footer {
  color: #7E868E;
  text-decoration: underline;
}

/* 1200 */
@media screen and (max-width: 1200px) {
  .container {
    max-width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .third-item {
    margin-left: 0;
  }

  .shop {}

  .item {
    width: calc(50% - 20px);
  }

  .form-form {
    flex-direction: column;
  }

  .footer-button {
    margin-left: 0;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .first-screen__container {
    text-align: center;
  }

  .first-screen h1 {
    margin-right: 0;
    max-width: none;
  }

  .first-screen p {
    max-width: none;
  }

  .first-screen__button {
    margin: 0 auto;
  }

  .four {
    display: flex;
    flex-direction: column-reverse;
  }
  .info {
    padding: 0px 0px;
  }
  .footer-bottom {
    margin: 0 auto;
  }
  .header__right {
    flex-direction: column;
  }

  .addres {
    margin-bottom: 5px;
  }

  .but-min {
    margin: 0 auto;
  }

  .left-side h1 {
    margin: 0 auto;
  }

  .left-side ul li {
    margin: 0 auto;
  }

  .but-max {
    margin: 0 auto;
  }

  .info {
    /* flex-direction: column-reverse; */
  }
}